[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment DC.geojsonDC.geojson530 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=22d2edba97&attid=0.2&permmsgid=msg-f:1825856070530964830&th=1956be6c1efd1d5e&view=att&disp=safe&realattid=f_m7xgeidm1&zw
Icon=mate-fs-bookmark
