[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment merged_ridership_fixed.csvmerged_ridership_fixed.csv5.7 MB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=22d2edba97&attid=0.1&permmsgid=msg-f:1825856070530964830&th=1956be6c1efd1d5e&view=att&disp=inline&realattid=f_m7xge7381&zw
Icon=mate-fs-bookmark
